@media screen and (max-width: 1100px) {
 
  .login
  {
    margin: left 20px !important; 

  }
  .sign-up{
    /* margin: left 20px !important; */
    width: 16% !important;
  }
 h3
 {
  margin-left: -5px !important;
 }
  
.dropdown {
  /* border: 1px solid red; */
  padding: 0px 15px;
}
}
@media screen and (max-width: 1000px) {
  #logo {
    width: 40% !important;
    /* border: 1px solid red; */
  }
  .login
  {
    margin: left 20px !important; 

  }
  .sign-up{
    margin: left 20px !important;
    width: 16% !important;
  }
}
@media screen and (max-width: 800px) {
  #logo {
    width: 45% !important;
  }
  .login
  {
    margin: left 20px !important; 
    width: 16% !important;

  }
  .sign-up{
    margin: left 20px !important;
    width: 17% !important;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    width: 55% !important;
  }
  .login
  {
    margin: left 20px !important; 
width: 21% !important;
  }
  .sign-up{
    margin: left 20px !important;
    width: 28% !important;
  }
}
@media screen and (max-width: 400px){
  h3 {
    display: inline-block !important;
    font-size: 25px  !important;
    margin-left: 6px !important;
  }
  .login
  {
    margin: left 20px !important; 

  }
  .sign-up{
    margin: left 20px !important;
    width: 33% !important;
  }
}

@media screen and (max-width: 350px){
  h3 {
    display: inline-block !important;
    font-size: 24px  !important;
    margin-left: 6px !important;
  }
  span {
    display: block;
    font-size: 18px !important;
  }
  .login
  {
    margin: left 20px !important; 
width: 33% !important;
  }
  .sign-up{
    margin: left 20px !important;
    width: 40% !important;
  }
}

.dropdown {
  /* border: 1px solid red; */
  padding: 0px 15px;
}
.logoa {
  width: 28%;
}
#logo {
  padding: 4px 4px;
  width: 22%;
  margin-top: -35px;
}
h3 {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}
span {
  display: block;
  font-size: 20px;
}
#services
{
    background-color: rgb(199 192 192 / 23%);
    /* border: 1px solid red; */
    height: auto;
    padding: 30px 20px;
}
.service {
  border: 1px solid #24aeea;
  display: flex;
  border-radius: 50%;
  margin: 20px auto;
  height: 22vh;
  width: 57%;
  color: #24aeea;
  font-size: 75px;
  align-items: center;
  justify-content: center;
}
.service:hover {
  background-color: #24aeea;
  transform: 1s;
}
.service:hover .document
{
  color: white;
}
.Services
{
    text-decoration: none;
}
.card
{
  border: none;
    text-align: center;
    background: transparent;
}
#service
{
  border-bottom: 1px solid rebeccapurple;
  /* border: 1px solid red;    */
  width: 80%;
  margin: 20px auto;
  margin-bottom: 20px;
font-weight: bold;
   text-align: center;
  font-size: 30px;
}
.top
{
  background-color: #24aeea;
color: white;
  text-decoration: none;
  width: 60px;
  height: 60px;
  align-items: center;
justify-content: center;
border-radius: 50%;
display: flex;
position: fixed;
bottom: 20px;
right: 50px;
font-size: 30px;
opacity: 0;
transform: all 0.5s;
}
.top.active
{
  opacity: 1;
  color: white;
}


.login{
  /* border: 1px solid red; */
  margin-right: 20px;
  width: 11%;
  font-size: 20px;
  /* font-weight: bold; */
  background-color: rgb(255, 255, 255);
  color: #0d6efd;;
}
.sign-up
{
  /* border: 1px solid red; */
  margin-right: 20px;
  font-size: 20px;
  width: 16%;
}
.sign-up:hover
{
  background-color: rgb(255, 255, 255);
  color: #0d6efd;
}
label{
  font-size: 1rem !important;
  color: black !important;
  padding: 10px 15px;
}

/* #email
{
  border: none !important;
  border-bottom: 2px solid #24aeea !important;
  outline: none;
  margin-left: 1px;
  width: 40%;
  color: black;
  transition: all 0.5s;
} */
/* 
#password{
  border: none !important;
  border-bottom: 2px solid #24aeea !important;
  outline: none;
  margin-left: -6px;
  width: 40%;
  transition: all 0.5s;

} */

#create-account{
  font-size: 1rem !important;
  /* border: 1px solid red; */
  margin: 0px auto;

}

.lemail
{
  /* border:  1px solid red; */
width: 92%;

}
.email{
  /* border:  1px solid red; */
width: 85%;
outline: none;
border: none !important;
border-bottom: 2px solid #6c757d !important;
background: transparent;
padding: 10px 10px;
transition: all 0.5s;
}
.email:hover{
  width: 130%;
}
.modal-body
{
  background-color: #2ffaff1a;
}

#modal-body-text
{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}