@media screen and (max-width: 1000px) {
  #logo {
    width: 40% !important;
    /* border: 1px solid red; */
  }
}
@media screen and (max-width: 800px) {
  #logo {
    width: 45% !important;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    width: 55% !important;
  }
}

.dropdown {
  /* border: 1px solid red; */
  padding: 0px 35px;
}
.logoa {
  width: 28%;
}
#logo {
  /* border: 1px solid red; */
  padding: 4px 4px;
  width: 22%;
  margin-top: -35px;
}
h3 {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}
span {
  display: block;
  font-size: 20px;
}
#services
{
    background-color: black;
    border: 1px solid red;
    height: 50vh;
}
.service {
  border: 1px solid #24aeea;
  display: block;
  border-radius: 50%;
  margin: 20px auto;
  height: 22vh;
  width: 50%;
  color: #24aeea;
  font-size: 75px;
  text-align: center;
}
.service:hover {
  background-color: #24aeea;
  transform: 1s;
}
.service:hover #document {
  color: white;
}

#document {
  vertical-align: middle;

}
.card-body 
{
    text-align: center;
}

.Services
{
    text-decoration: none;
}
.col
{
    border: none;
}