<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addmissions For Class XI Students</title>
    <!-- <link rel="stylesheet" href="../Admission.css"> -->
    <link rel="stylesheet" href="./Admission.css">
    <link rel="shortcut icon" href="https://www.result.pk/_images/articles/images/2022-01/22580_1_45740.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/19fcc4b5b5.js" crossorigin="anonymous"></script>
</head>

<body>
    <marquee behavior="" direction="" id="marquee">Addmisions for Class First Year(XI)   <a href="../index.html">Go Back</a></marquee>
    <form action="" id="my-form">

    <div class="header">
        <span style="font-family: 'docs-Roboto', Helvetica, Arial, sans-serif; font-size: 32px;">Addmisions Form For XI
            Students </span>
        <br>
        <div
            style="display: inline-block; font-size: 16px; line-height: 50px; font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;">
            <span>
                For Year 2022-2024
            </span>
        </div>
        <hr>
        <div class="">
            <span style="font-size: 13px; font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;"> <b>
                    saimrashid3344@gmail.com
                </b> </span>
            <span style=" font-size: 14px;"><a
                    href="https://accounts.google.com/AccountChooser?continue=https://docs.google.com/forms/d/e/1FAIpQLSeE3YUkm9WfIxSDcp_B9_nc9uPjl4tKX7rSTB-UIoZHWE8ulA/viewform&service=wise"
                    target="_blank" style="text-decoration: none; color: rgb(41, 41, 246);">
                    Switch Account
                </a> </span>
        </div>
        <div>
            <span style="font-size: 14px;  font-family: 'docs-Roboto', Helvetica, Arial, sans-serif; ">
                The name and photo associated with your Google account will be recorded when you upload files and submit
                this form. Your email is not part of your response
            </span>
        </div>
        <span style="color: red; font-family: 'docs-Roboto', Helvetica, Arial, sans-serif; font-size: 14px;">
            <sup>*</sup>Required
        </span>
    </div>

    <!-- main form starts here -->
    <div class="name">
        <form action="">
            <label for="name" class="labels">Name
                <sup>*</sup></label>
            <input type="text" name="" id="name" placeholder="Your Answer" required class="input">
        </form>
    </div>
    <div class="name">
        <form action="">
            <label for="fname" class="labels">Father Name<sup>*</sup></label>
            <input type="text" name="" id="fname" placeholder="Your Answer" required class="input">
        </form>
    </div>
    <div class="name">
        <form action="">
            <label for="group" class="labels">Group<sup>*</sup></label>
            <select name="" id="group" required class="select-items">
                <option value="" disabled selected>Choose Group</option>
                <option value="">Science General(ICS)</option>
                <option value="">Pre-Medical</option>
                <option value="">Pre-Engineering</option>
                <option value="">Humanities</option>
            </select>
        </form>
    </div>
    <div class="name">
        <form action="">
            <label for="grade" class="labels">Enter
                Your SSC I or II Grade<sup style="color: red; font-size: 20px;">*</sup><br>
                <span style="font-size: 14px;">
                    Note: (For Pre Medical, Pre Engineering & Computer Science only A & B Grades are Allowed) for (Arts
                    A,B
                    & C Grades are Allowed)
                </span>

            </label>
            <select name="" id="grade" required class="select-items">
                <option value="" disabled selected>Choose Grade</option>
                <option value="">A+</option>
                <option value="">A</option>
                <option value="">B</option>
                <option value="">C</option>
                <option value="">D</option>
            </select>
        </form>
    </div>
    <div class="name">
        <form action="">
            <label for="category" class="labels">Category<sup>*</sup></label>
            <select name="" id="category" required class="select-items">
                <option value="" selected disabled>Choose </option>
                <option value="">Open Merits(Civilians)</option>
                <option value="">Defence Paid</option>
                <option value="">Serving Armed Forces</option>
                <option value="">Retired Armed Forces</option>
                <option value="">Sports</option>
            </select>
        </form>
    </div>
    <div class="name">
        <form action="">
    

                <span style="font-size: 25px;" class="labels">
                    Gender
                    <sup>*</sup>
                </span>

                <div>
                    <input type="radio" name="gender" id="male">
                    <label for="male" class="gender">Male</label>
                </div>
                <br>
                <div>
                    <input type="radio" name="gender" id="female">
                    <label for="female" class="gender">Female</label>
                </div>
         
        </form>
    </div>
    <div class="name">
        <form action="">
       

                <span style="font-size: 25px
           ;" class="labels">
                Board<sup>*</sup>
            </span>
       
        <div>

            <input type="radio" name="board" id="bise">
            <label for="bise" class="gender" >BISE Hyderabad</label>
        </div>
            <br>
            <div>

                <input type="radio" name="board" id="fbise" >
                <label for="fbise" class="gender">FBISE Islamabad</label>
            </div>
            </form>
        </div>
    <div class="name">
        <form action="">
            <label for="WhatsApp"  class="labels">Active WhatsApp Number<sup>*</sup></label>
            <input type="number" name="" id="WhatsApp" placeholder="Your Answer" required class="input">
        </form>
    </div>
    <div class="name">
        <form action="">
            <label for="CNIC" class="labels">CNIC/B-Form<sup>*</sup></label>
            <input type="number" name="" id="CNIC" placeholder="Your Answer" required class="input">
        </form>
    </div>
    <div class="name">
        <form action="">
            <p>
                <label for="eMAIL" id="" class="labels">Email ID<sup>*</sup></label>
                <input type="text" name="" id="eMAIL" placeholder="Your Answer" required class="input">
            </p>
        </form>
    </div>
    <div class="name">
        <form action="">
            <p>
                <div class="labels">Upload Photo<sup>*</sup>
                    <br>
                    <span style="font-size: 17px; margin: 12px;">
                        Passport Size with Blue or White Background only in College Uniform
                    </span></div>
                    <label for="file-name" class="labels file-name">

                        <!-- <img src="https://cdn.pixabay.com/photo/2017/02/07/02/16/cloud-2044823_960_720.png" alt="" style="width: 10%; height: 45px;"> -->
                        Upload Image
                    
                    </label>
                <input type="file"  id="file-name"required style="display: none;">
            </p>
        </form>
    </div>
    
    <div class="name footer">
    <button id="submit" class="btn-form"><a href="">Submit Form</a></button>

    <button  id="reset" type="reset" class="btn-form">Reset Form</button>
</div>
</form>

<div>

    <!-- Go Back Button -->
    <!-- <a href="#" class="go-back"><i class="fa-solid fa-angles-left"></i></a> -->
    <a href="#" class="top"><i class="fas fa-chevron-up"></i></a>
    <!-- <button class="back"><a href="../index.html">&lt;&lt; Goto Home</a></button> -->
    </div>
    <script src="./Addmission.js">

</script>
</body>

</html>