body {
  background-color: rgb(240, 238, 238);
}
sup {
  color: red;
}
@media screen and (max-width: 1000px) {
  .header {
    font-size: 15px;
    width: 70% !important;
  }
  .name {
    width: 70% !important;
    padding: 30px !important;
  }
}
@media screen and (max-width: 800px) {
  .header {
    font-size: 15px;
    width: 75% !important;

  }
  .name{
    width: 75% !important;
  }
}
@media screen and (max-width: 700px) {
  .header {
    font-size: 15px;
    width: 80% !important;

  }
  .name{
    width: 80% !important;
  }
}
@media screen and (max-width: 600px) {
  .header {
    width: 105% !important;
/* border: 1px solid black!important; */

  }
  .name{
    width: 105% !important;
/* border: 1px solid black!important; */

  }
  #marquee{
    width: 114% !important;
  }
}
@media screen and (max-width: 500px) {
  .header {
    width: 110% !important;
/* border: 1px solid red !important; */
    font-size: 15px;
  }
  .name{
    width: 110% !important;
/* border: 1px solid red !important; */

  }
  #marquee{
    width: 122% !important;
  }
  .btn-form{
    width: 30% !important;
  }
}

@media screen and (max-width: 400px) {
  .header {
    width: 120% !important;
    font-size: 15px;
  }
  .name{
    width: 120% !important;
  }
  #marquee{
    width: 132% !important;
  }
}

@media screen and (max-width: 350px) {
  .header {
    width: 145% !important;
    font-size: 15px;
    /* border: 4px solid red !important; */
  }
  .name{
    width: 145% !important;
  }
  #marquee{
    width: 158% !important;
  }
  
}
@media screen and (max-width: 300px) {
.header{
  width: 165% !important;

}
  .name{
    width: 165% !important;
  }
  #marquee{
    width: 182% !important;
  }
  .btn-form{
    width: 35% !important;
  }

}
@media screen and (max-width: 250px) {
.header{
  width: 180% !important;

}
  .name{
    width: 180% !important;
  }
  #marquee{
    width: 200% !important;
  }
  .btn-form{
    width: 45% !important;
  }
}

.header {
  width: 40%;
  margin: 30px auto;
  height: auto;
  /* border: 2px solid red; */
  background-color: white;
  border-radius: 8px;
  padding: 23px;
  font-size: 20px;
  border-top: 13px solid gray;
  display: block;
}

/* all div css except grades */
.name {
  width: 40%;
  margin: 20px auto;
  height: auto;
  /* border: 2px solid red; */
  background-color: white;
  border-radius: 10px;
  padding: 23px;
  font-size: 20px;
}
.labels {
  margin: 20px 10px;
  display: block;
  padding: 5px 20px;
}
.input {
  font-size: 1rem;
  padding: 2px 2px;
  outline: none;
  width: 70%;
  margin: 10px 14px;
  height: auto;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(95, 89, 89);
  line-height: 20px;
  transition: 1s;
}
.input:hover {
  transition: 1s;
  font-size: 20px;
  border-bottom: 2px solid rgb(41, 41, 246);
  width: 90%;
}
.select-items {
  padding: 10px 20px !important;
  border: 1px solid gray !important;
  border-radius: 5px !important;
  width: 70%;
  margin: 0px 40px;
  height: auto;
  background-color: white;
  border: none;
  color: black;
  transition: 1s;
}

.select-items:hover {
  transition: 1s;
  font-size: 15px;
  border: none;
  width: 80%;
}

.gender {
  margin: 0px 10px;
}
.file-name {
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px 10px;
  background-color: #3f00ff;
  color: white;
  display: inline;
  font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
  transition: all 0.4s;
}
.file-name:hover {
  background-color: #0b59c7;
}
              /* Footer Start  Here */
.footer
{
background: transparent !important;
}      
.btn-form{

  border-radius: 5px;
  width: 25%;
  height: auto;
  padding: 6px 10px;
  background-color: rgb(88, 85, 85);
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  text-align: center;
}       

#submit a{
  font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  color: white;
}
#submit:hover {
  background-color: gray;
}

#reset {
float: right;
  color: rgb(50, 46, 46);
  background-color: rgb(240, 238, 238);
  font-size: 17px;
font-weight: bold;
}
#reset:hover {
  background-color: lavender;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.back {
  float: right;
  margin: -2260px 100px;
  width: 13%;
  background-color: #24aae2;
  height: auto;
  font-size: 18px;
  border: none;
  border-radius: 7px;
}

.back a {
  text-decoration: none;
  color: white;
}
.back :hover {
  filter: invert(100%);
}
#marquee {
  font-size: 30px;
  background-color: #0b59c7;
  color: white;
  line-height: 2;
  text-align: center;
  display: block;
  margin: 0px auto;
  width: 95%;
}
#marquee a
{
  color: red;
}
html{
  scroll-behavior: smooth;
}
.top{
  background-color: #eabf24;
  color: white;
  text-decoration: none;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 50px;
  font-size: 30px;
  opacity: 0;
  transform: .4s;
  z-index: 1;
  

}
.top.active{
  opacity: 1 ;
  pointer-events: auto;
}